@import "common/common";
@import "common/colours";
@import "./splash-common.scss";

header.ch-challenge-header {
  margin-top: 75px;
  color: #fff;
  padding: 3rem 1rem;

  background-image: url('/competitions/climatehack/assets/challenge-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1,
  h2 {
    font-size: 3rem;
    margin: 0;
  }

  h2 {
    font-weight: 100;
  }

}

section.ch-challenge-section {
  padding: 2rem;
  width: calc(100% - 4rem);

  .ch-challenge-section-content {
    margin-left: auto;
    margin-right: auto;

    .ch-challenge-section-heading {
      margin: 16px 2rem 16px 0;

      h2 {
        margin-top: 0;
        width: 250px;
      }
    }
  }

  &.ch-challenge-pv {
    background-color: #f1f5f9;

    .ch-challenge-section-heading h2 {
      color: #2563eb;
    }
  }

  &.ch-challenge-ocf {
    color: #fff;
    background-color: #141006;

    .ch-challenge-section-heading h2 {
      color: $ch-salmon;
    }
  }

  &.ch-challenge-impact {
    color: #fff;

    padding: 2rem 2rem 8rem 2rem;

    background-image: url('/competitions/climatehack/assets/challenge-solar-panels.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .ch-challenge-section-heading h2 {
      color: #fff;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  header.ch-challenge-header {
    padding: 6rem;

    h1,
    h2 {
      font-size: 5rem;
    }
  }

  section.ch-challenge-section .ch-challenge-section-content {
    max-width: $breakpoint-sm;
    display: flex;
  }
}

@media screen and (min-width: $breakpoint-md) {
  section.ch-challenge-section .ch-challenge-section-content {
    max-width: $breakpoint-md;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  section.ch-challenge-section .ch-challenge-section-content {
    max-width: $breakpoint-lg;
  }
}
