@import 'common/common';
@import 'common/colours';
@import 'common/fonts';
@import "./splash-common.scss";


@mixin bigBoldParagraph() {
  // font-weight: bold;
  font-size: 1.35em;
}

button.ch-compete-button {
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: $ch-salmon;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: $monospace-font;
  cursor: pointer;

  &:hover {
    background-color: darken($ch-salmon, 5%);
  }

  &:active {
    background-color: darken($ch-salmon, 10%);
  }
}

header.ch-splash-header {
  margin-top: 65px;
  height: calc(100vh - 66px);

  background-color: #000;
  background-image: url('/competitions/climatehack/assets/globe.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  .ch-splash-header-title {
    color: #f1f5f9;
    // flex: 1;

    display: flex;
    align-items: center;

    .ch-splash-header-title-content {
      margin-left: 10%;
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    h1,
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 3.5rem;

      text-decoration: underline;
      text-decoration-color: $ch-blue-transparent;
    }

    h2 {
      font-weight: 100;
    }
  }

  .ch-scroll-to-about {
    text-align: center;
    font-size: 4rem;

    a {
      color: #fff;
    }
  }
}



section.ch-splash-section {
  padding: 4rem 2rem;
  width: calc(100% - 4rem);

  .ch-splash-section-content {
    margin-left: auto;
    margin-right: auto;

    P {
      margin-top: 16px;
      margin-bottom: 0;
    }

    .ch-splash-section-heading {
      margin-top: 16px;
      margin-bottom: 16px;
      margin-right: 2rem;
      margin-left: 0;

      h2 {
        margin-top: 0;
        font-size: 1.8em;
      }

      img {
        width: 100%;
      }

      p {
        text-align: left;
      }
    }
  }

  &.ch-splash-about {
    color: #fff;
    // padding: 8rem 2rem;

    background-image: url('/competitions/climatehack/assets/europe-at-night.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .ch-splash-section-heading h2 {
      color: #fff;
    }

    .ch-splash-section-content>div p:first-child {
      @include bigBoldParagraph;
    }
  }

  &.ch-splash-universities {
    background-color: $ch-blue;
    color: #fff;

    .ch-splash-universities-logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      // $logo-gap: 0.75rem;

      img {
        box-sizing: border-box;
        height: 3rem;
        // margin: 0.5rem 0.4rem;
        // margin: 0;
        // margin-left: $logo-gap;
        // margin-right: $logo-gap;
      }
    }
  }

  &.ch-splash-format {
    color: #fff;

    .ch-splash-format-description {
      text-align: center;

      h3,
      p {
        text-align: left;
      }

      p a {
        color: #fff;
        text-underline-offset: 0.1rem;
      }

      .ch-splash-format-columns {
        display: flex;
        justify-content: center;

        h3 {
          text-align: center;
        }

        p {
          text-align: justify;
        }

        div {
          padding: 1rem;
        }

        &>* {
          flex: 1;
        }
      }

      svg {
        width: 56%;
      }
    }
  }

  &.ch-splash-prizes {
    color: #fff;
    background-color: $ch-salmon;

    .ch-splash-section-heading {
      h3 {
        font-weight: 400;
        font-size: 1rem;
      }

      span {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .ch-splash-prizes-descriptions {
      text-align: right;
      width: 100%;

      .ch-splash-prizes-descriptions-label {
        text-align: right;
      }

      span {
        font-weight: bold;
        font-size: 3rem;
      }

      .ch-splash-prizes-columns {
        display: flex;
        justify-content: center;
        text-align: center;

        h3 {
          font-weight: normal;
          font-size: 0.9rem;
        }

        span {
          font-size: 1.5rem;
        }

        &>* {
          flex: 1;
        }
      }
    }
  }

  &.ch-splash-tangible-impact {
    background-color: #f1f5f9;

    .ch-splash-section-heading h2,
    a {
      color: $ch-blue;
      text-underline-offset: 0.05rem;
    }

    .ch-splash-tangible-impact-description>p:first-child {
      @include bigBoldParagraph;
    }
  }

  &.ch-splash-joint-final {
    background-color: #f1f5f9;

    .ch-splash-section-heading h2,
    a {
      color: $ch-blue;
      text-underline-offset: 0.1rem;
    }

    .ch-splash-joint-final-description>p:first-child {
      @include bigBoldParagraph;
    }
  }

  &.ch-splash-community-connection {
    background-color: #f1f5f9;

    .ch-splash-section-heading h2 {
      color: $ch-blue;
      text-underline-offset: 0.05rem;
    }

    .ch-splash-tangible-impact-description>p:first-child {
      @include bigBoldParagraph;
    }
  }
}

.ch-splash-impact-stripe {
  background-color: #f1f5f9;
  color: $ch-blue;

  p {
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: 700;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  header.ch-splash-header {
    margin-top: 73px;
    height: calc(100vh - 73px);

    .ch-splash-header-title h1,
    .ch-splash-header-title h2 {
      font-size: 6rem;
    }
  }

  section.ch-splash-section {
    .ch-splash-section-heading {
      width: 30vw;

      h2 {
        width: calc(30vw - 2rem);
      }
    }

    .ch-splash-section-content {
      max-width: $breakpoint-sm;
      display: flex;
    }

    &.ch-splash-universities .ch-splash-universities-logos img {
      height: 3.7rem;
    }
  }


  .ch-splash-prizes-descriptions {
    margin-left: 6rem;
  }
}

@media screen and (min-width: $breakpoint-md) {
  section.ch-splash-section {
    .ch-splash-section-content {
      max-width: $breakpoint-md;

      p {
        text-align: justify;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  section.ch-splash-section {
    font-size: 18px;

    .ch-splash-section-content {
      max-width: $breakpoint-lg;
    }

    &.ch-splash-universities .ch-splash-universities-logos img {
      height: 4.5rem;
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  section.ch-splash-section {
    .ch-splash-section-content {
      max-width: $breakpoint-xl;
    }

    &.ch-splash-universities .ch-splash-universities-logos img {
      height: 5rem;
    }
  }
}
