nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 24px;
    border-bottom: 1px solid black;
    
    .comp-name {
      display: inline-block;
      margin-left: 30px;
    }
    
    .nav-links {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 30px;
    }
  
    li {
      text-align: center;
      margin: 0;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  
  }