@import 'common/common';
@import 'common/colours';
@import 'common/fonts';

.competitionTabs {
  .competitionTabSelector {
    margin-bottom: 10px;

    a {
      font-family: $monospace-font;
      text-decoration: none;
      text-underline-offset: 0.2rem;
      color: #1F2937;
      cursor: pointer;

      @media screen and (max-width: $breakpoint-sm) {
        line-height: 1.5;
      }

      &.activeTab {
        text-decoration: underline;
      }
    }

    a+a::before {
      content: '|';
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      display: inline-block;
    }
  }
}
