@import 'src/common/_common.scss';


.leaderboard {
    padding: 20px;

    a {
        text-decoration: none;
    }


    .leaderboard-entry {
        padding: 10px;
        color: $off-black;
        box-shadow: 0 4px 4px $grey;
        background-color: $white;
        display: flex;
        justify-content: space-between;

        margin-bottom: 20px;


        p {
            margin: 0;
            font-weight: bold;
            font-size: 36px;
        }
    }

    input[type='text'] {
        width: 350px;

        outline: none;

        border: none;
        border-bottom: 3px solid #7c7c7c;

        background-color: transparent;
        color: $off-black;

        font-size: 38px;
        font-family: 'Montserrat', sans-serif;

        padding: 5px 0;
        margin: 20px;
        margin-left: 0;
    }
}
