.overview-tab {
    box-sizing: border-box;
    display: flow-root;

    .overview-tab-game-demo {
        float: right;
        width: 45%;
        margin: auto;
        margin-left: 1rem;
    }
}
