.submission-guide-tab {
    pre {
        border-radius: 3px;
        border: #fff 1px solid;
        margin-left: 2rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        white-space: pre-wrap;
    }
}
