@import 'common/common';

.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 2rem);
}

.container-with-top-margin {
  margin-top: 100px;
}

.container-with-bottom-margin {
  padding-bottom: 80px;
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    max-width: $breakpoint-sm;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .container {
    max-width: $breakpoint-md;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    max-width: $breakpoint-lg;
  }
}
