@import 'common/fonts';

.leaderboard {
  font-family: $monospace-font;

  .leaderboard-header {
    font-weight: bold;
    font-style: italic;
  }

  .leaderboard-entry {
    display: flex;
    margin-bottom: 10px;
    gap: 0.25rem;

    .leaderboard-position {
      flex: 0 0 auto;
      width: 2rem;
    }

    .leaderboard-username {
      flex: 4 1 auto;
      flex-basis: 0;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      text-decoration: underline;
      text-underline-offset: 0.2rem;

      a {
        color: #fff;
      }
    }

    .leaderboard-university {
      flex: 2 1 auto;
      flex-basis: 0;
      min-width: 11ch;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .leaderboard-match-link {
      flex: 0 0 auto;
      width: 3rem;

      a {
        color: #fff;
        text-underline-offset: 0.2rem;
      }
    }

    .leaderboard-score {
      flex: 0 0 auto;
      width: 4rem;
    }
  }
}
