@import '../common/colours.scss';

@media screen and (min-width: 640px) {
    .nav {
        padding: 0 50px;
    }
}

.nav {
    display: flex;
    //justify-content: space-around;
    font-size: 20px;
    font-weight: bold;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: $header-background;
    z-index: 100;

    $active-color: $pink;


    .navbar-active {
        color: $active-color;

        &::after {
            background-color: $active-color;
        }
    }

    a {
        position: relative;
        font-family: 'Roboto Condensed', sans-serif;
        color: #FFFFFF;
        text-decoration: none;
        margin: 25px 20px;

        &::after {
            display: block;
            background-color: $text-color;
            position: absolute;
            bottom: -5px;

            width: 0;
            height: 4px;
            transition: all 300ms ease-out;
            content: ' ';
        }

        &:hover::after {
            width: 100%;
        }

        &.account {
            margin-left: auto;
        }

    }
}
