.pair-matches {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  .pair-matches-header {
    font-weight: bold;
    font-style: italic;
  }

  .pair-matches-entry {
    display: flex;
    margin-bottom: 10px;

    .pair-matches-position {
      flex: 0 0 auto;
      width: 2rem;
    }

    .pair-matches-username {
      flex: 4 1 auto;

      a {
        color: #fff;
        text-underline-offset: 0.2rem;
      }
    }

    .pair-matches-time {
      flex: 0 0 auto;
      width: 8rem;

      a {
        color: #fff;
        text-underline-offset: 0.2rem;
      }
    }

    .pair-matches-match-link {
      flex: 0 0 auto;
      width: 3rem;

      a {
        color: #fff;
        text-underline-offset: 0.2rem;
      }
    }

    .pair-matches-score {
      flex: 0 0 auto;
      width: 4rem;
    }
  }
}
