@import 'src/common/_common.scss';

.matches {
    padding: 20px;

    a {
        text-decoration: none;
    }

    h1 {
        margin: 20px;
    }


    .match-card{
        padding: 5px 20px;
        color: $off-black;
        box-shadow: 0 4px 4px $grey;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        .match-players {
            text-align: center;
            min-width: 200px;
        }




        p {
            margin: 0;
            font-weight: bold;
            font-size: 36px;
        }
    }

    input[type='text'] {
        width: 450px;
        margin: 20px;
        margin-left: 0;
    
        outline: none;
        
        border: none;
        border-bottom: 3px solid #7c7c7c;
        
        background-color: transparent;
        color: $off-black;
    
        font-size: 48px;
        font-family: 'Montserrat', sans-serif;
    
    }
}
