@import 'common/fonts';

.playable-game-demo {
  background-color: #1F2937;
  border-radius: 3px;
}

.playable-game-demo-footer {
  margin-top: 0.25rem;
  font-family: $monospace-font;

  .playable-game-demo-agent-name {
    margin-left: 0.5rem;
  }

  .playable-game-demo-reset-link {
    float: right;
  }

}
