.ch-tab.ch-overview-tab {
  .ch-tab-box {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 1rem 2rem;
    background-color: #1F2937;

    text-align: justify;

    p.leading {
      font-weight: 700;
    }
  }
}
