.ch-tab.ch-overview-tab {
  .leading {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 1rem;
    background-color: #1F2937;

    p {
      font-weight: 700;
      margin: 1rem;
    }
  }
}
