@import 'common/fonts';

.competition-summary-card {
    h2 {
        color: #fff;
    }
}

.competition-summary-link {
    color: #fff;
    text-underline-offset: 0.325rem;
    font-style: italic;
}

.open-competitions-label {
    font-family: $monospace-font;
    margin-bottom: 1rem;
    font-style: italic;
}
