.competition-summary-card {
    h2 {
        color: #fff;
    }
}

.competition-summary-link {
    color: #fff;
    text-underline-offset: 0.325rem;
    font-style: italic;
}

.open-competitions-label {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin-bottom: 1rem;
    font-style: italic;
}
