@import 'common/colours';
@import 'common/common';

.match-page-header {
  h1 {
    text-underline-offset: 0.65rem;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 0;

    a {
      text-decoration: underline;
      color: #fff;

      &.match-page-main-player-link {
        text-decoration-color: #00B75F;
      }

      &.match-page-opposing-player-link {
        text-decoration-color: #ee5253;
      }
    }
  }

  p {
    line-height: 1.35rem;
  }
}

.match-score-bar {
  border: 0;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 8px 8px #1F2937;

  div {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    animation: start-zero-width 2s;
    animation-fill-mode: backwards;
  }

  .match-score-bar-wins {
    background-color: #00B75F;
    border-radius: 3px 0px 0px 3px;
  }

  .match-score-bar-draws {
    background-color: #3075DD;
    // animation-delay: 500ms;
  }

  .match-score-bar-losses {
    background-color: #ee5253;
    border-radius: 0px 3px 3px 0px;
    // animation-delay: 500ms;
  }
}
