@import 'src/common/_common.scss';


.game-header {
    text-align: center;

    .player-versus {
        display: inline-block;
    }

    margin-bottom: 30px;
}

.game-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .game-grid {
        flex: 2;
        max-width: 90vh;
    }

    @media screen and (max-width: 1040px) {
        flex-direction: column;

        .game-grid {
            margin: 0;
            max-width: 500px;
            width: 100%;
        }
    }


    .move-list {
        flex: 1;
        background-color: $grey;
        margin: 20px;
        max-width: 350px;
        width: 100%;
        
        h2 {
            margin: 20px;
        }
    }
    
    .moves {
        background-color: $white;
        box-shadow: 0 4px 4px #9a9a9a;
        padding: 5px;
        margin: 20px;
        display: grid;
        grid-template-columns: 50px 1fr 1fr;
        text-align: center;
        overflow-y: scroll;
        max-height: 485px;

        .move {
            cursor: pointer;
        }

        .move:hover {
            background-color: #ffffbf;
        }

        .number {
            border-right: 1px solid $grey;
        }

        .current {
            background-color: $grey;
        }
    }

    .controls {
        display: flex;
        justify-content: space-around;

        .move-button {
            transition: transform 200ms ease-in-out, box-shadow 200ms linear;
            background-color: $white;
            padding: 5px;
            margin: 10px;
            font-size: 24px;
            width: 100%;
            text-align: center;
            box-shadow: 0 4px 4px #9a9a9a;
            cursor: pointer;

            &:hover {
                box-shadow: 0 8px 8px #9a9a9a;
                transform: translateY(-4px);
            }
        }
    }
}