@import 'src/common/_common.scss';

// Probably a good idea to extract the versus into it's own component since this code will be shared
div.player-versus {
    text-align: left;
    font-size: 48px;

    .separator {
        margin: 0 20px;
    }

    .player {
        position: relative;

        &::after {
            display: block;
            content: ' ';
            position: absolute;
            bottom: -5px;
            width: 80%;
            height: 9px;

            left: 10%;

            animation-duration: 1s;
            animation-name: start-zero-width;
            animation-timing-function: ease-in-out;
            animation-fill-mode: backwards;

            transition: all 200ms ease-in-out;
        }

        &.player-1::after {
            background-color: $win;
        }

        &.player-2::after {
            background-color: $loss;
            animation-delay: 0.9s;
        }

        &:hover::after {
          width: 100%;
          left: 0%;
        }
    }
}

.match-data {
    background-color: $white;
    border-bottom: 1px solid $off-black;
    padding: 40px 0;
    
    .header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .scores {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        padding: 0 20px;

        .wins, .draws, .losses {
            font-size: 48px;
            opacity: 1.0;
            animation-name: start-zero-opacity;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
        }

        .wins {
            color: $win;
        }

        .draws {
            color: $draw;
            animation-delay: 1s;
        }

        .losses {
            color: $loss;
            animation-delay: 500ms;
        }

        .score-separator {
            padding: 0 10px;
            font-size: 48px;
        }
    }

    .score-bar {
        // margin-left: 30px;
        max-width: 700px;
        margin-top: 50px;
        // animation-duration: 1s;

        // animation-timing-function: ease-in-out;
        // animation-fill-mode: both;

        div {
            height: 50px;
            display: inline-block;
            animation: start-zero-width 2s;
            animation-fill-mode: backwards;
        }

        .wins {
            background-color: $win;
        }

        .draws {
            background-color: $draw;
            animation-delay: 1s;
        }

        .losses {
            background-color: $loss;
            animation-delay: 500ms;
        }
    }
}
