@import 'src/common/_common.scss';

.user-info {
    background-color: $white;
    border-bottom: 1px solid $grey;
    padding: 20px;
}

.user-header {
    border-bottom: 1px solid $off-black;
    margin: 20px;

    h1 {
        text-align: left !important;
    }
}

.user-stats {
    margin: 20px;

    .score {
        font-weight: normal;
        font-size: 72px !important;
    }
}