@import 'src/common/_common.scss';

body {
    background-color: $light-grey;
    font-family: 'Montserrat', sans-serif;
}

.maxwidth {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.main h1 {
    text-align: center;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: initial;
}
