@import 'src/common/_common.scss';

.match-games .game-card.cancelled {
  display: block;
  text-align: center;
  padding: 5px 20px 5px 20px;
  border-left: 20px solid #0e7490;

  .game-card-cancelled-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cancelled-icon {
      font-size: 50px;
      margin: 21.25px 5px;
      color: #475569;
    }

    .cancelled-message {
      flex: 1;
    }
  }
}
