@import 'src/common/_common.scss';

.comp-info {
    background-color: $white;
    padding-bottom: 32px;
    border-bottom: 1px solid $off-black;
}

.header {
    border-bottom: 1px solid $off-black;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.about {
    margin-bottom: 50px;

    h3 {
        font-weight: normal;
    }

    p {
        text-align: justify;
    }

    .comp-buttons {
        display: flex;
        justify-content: space-around;
        background-color: $off-white;

        input[type='button'] {
            margin: 10px auto;
            padding: 5px 20px;
            font-family: 'Montserrat', sans-serif;
            font-size: 36px;
            background-color: $white;
        }
    }
}



